{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container my-4">
    <div class="row justify-content-center">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Post Blog</h3>
            <hr>
            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <fieldset class="form-group">
                  {{form.media}}
                  {{ form|crispy }}
              </fieldset>
              <div class="form-group">
                  <button class="btn btn-primary px-4" type="submit">Post</button>
              </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
