


{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container m-4">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Delete Post</h3>
            <hr>
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <h2>Are you sure you want to delete the post "{{ object.title }}"</h2>
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-danger shadow" type="submit">Yes, Delete</button>
                    <a class="btn btn-secondary shadow" href="{% url 'post-detail' object.id %}">Cancel</a>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
