{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<div class="container">
  <h1 class="my-4">Posts by {{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h1>
  <div class="row">
    {% for post in posts %}
    <div class="col-12 col-lg-6">
      <div class="single-blog-area mb-100">
        <img src="{{post.image.url}} " alt="">
        <!-- Blog Content -->
        <div class="blog-content">
          <a href="{% url 'post-detail' post.pk %}" class="blog-headline">
            <h4>{{post.title}}</h4>
          </a>
          <div class="meta d-flex align-items-center">
            <a href="#">{{post.author}}</a>
            <span><i class="fa fa-circle" aria-hidden="true"></i></span>
            <a class="text-capitalize"  href="{% url 'catogary' post.catogary %}">{{post.catogary}}</a>
          </div>
          <p>{{post.content | truncatechars:100 | safe}}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}
